<mat-card class="course-editor-card">
  <mat-card-header>
    <mat-card-title>{{course.title}}</mat-card-title>
    <mat-card-subtitle>Lehrveranstaltung</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="course-editor-container" [formGroup]="courseForm">
      <mat-vertical-stepper class="course-editor-vertical-stepper">
        <mat-step label="Kürzel">
          <mat-form-field color="accent" class="form-field-full-width">
            <textarea matInput
                      cdkTextareaAutosize
                      maxlength="3"
                      placeholder="Kürzel der Veranstaltung"
                      [formControl]="shortTitleForm"></textarea>
          </mat-form-field>
          <div class="course-editor-step-button-group">
            <button mat-button matStepperNext mat-stroked-button color="accent">Weiter</button>
          </div>
        </mat-step>
        <mat-step label="Titel">
          <mat-form-field color="accent" class="form-field-full-width">
          <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="3"
                    placeholder="Titel der Veranstaltung"
                    [formControl]="titleForm"></textarea>
          </mat-form-field>
          <div class="course-editor-step-button-group">
            <button mat-button matStepperPrevious mat-stroked-button color="accent">Zurück</button>
            <button mat-button matStepperNext mat-stroked-button color="accent">Weiter</button>
          </div>
        </mat-step>
        <mat-step label="Beschreibung">
          <mat-form-field color="accent" class="form-field-full-width">
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"
                  placeholder="Kurzbeschreibung der Veranstaltung" [formControl]="descriptionForm"></textarea>
          </mat-form-field>
          <div class="course-editor-step-button-group">
            <button mat-button matStepperPrevious mat-stroked-button color="accent">Zurück</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="backToOverview()">
      <mat-icon>arrow_back_ios</mat-icon>
      Abbrechen
    </button>
    <button mat-raised-button color="primary" (click)="deleteCourse()">
      <mat-icon>close</mat-icon>
      Löschen
    </button>
    <button mat-raised-button color="accent" (click)="saveCourse()">
      <mat-icon>check</mat-icon>
      Speichern
    </button>
  </mat-card-actions>
</mat-card>
