<ng-template #learningOutcomeTree let-learningOutcomes_tmp="learnings">
  <div *ngFor="let learningOutcome of learningOutcomes_tmp" style="margin-bottom: 15px;">
    <button mat-button #toggleButton
            [attr.aria-label]="'toggle ' + learningOutcome.title"
            (click)="toggleButton.isOpen = !toggleButton.isOpen">
      <mat-icon class="mat-icon-rtl-mirror">
        {{toggleButton.isOpen ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
      {{learningOutcome.title}}
    </button>
    <div [class.learning-outcome-tree-invisible]="!toggleButton.isOpen" style="padding-left: 32px;">
      <div *ngIf="learningOutcome.roles && learningOutcome.roles.length >0">
        <br>
        <mat-label><b>Als&nbsp;</b></mat-label>
        <mat-label *ngFor="let role of learningOutcome.roles">{{role}},&nbsp;</mat-label>
      </div>
      <div *ngIf="learningOutcome.abilities && learningOutcome.abilities.length >0">
        <br>
        <mat-label><b>kann ich&nbsp;</b></mat-label>
        <mat-label *ngFor="let ability of learningOutcome.abilities">{{ability}}</mat-label>
      </div>
      <div *ngIf="learningOutcome.preconditions && learningOutcome.preconditions.length >0">
        <br>
        <mat-label><b>vorrausgesetzt ich kann&nbsp;</b></mat-label>
        <div style="margin-left: 20px;">
          <ng-container [ngTemplateOutlet]="learningOutcomeTree"
                        [ngTemplateOutletContext]="{learnings: learningOutcome.preconditions}"></ng-container>
        </div>
      </div>
      <div *ngIf="learningOutcome.subAbilities && learningOutcome.subAbilities.length >0">
        <br>
        <mat-label><b>indem ich&nbsp;</b></mat-label>
        <div style="margin-left: 20px;">
          <ng-container [ngTemplateOutlet]="learningOutcomeTree"
                        [ngTemplateOutletContext]="{learnings: learningOutcome.subAbilities}"></ng-container>
        </div>
      </div>
      <div *ngIf="learningOutcome.businessGoal">
        <mat-label><b>sodass ich&nbsp;</b></mat-label>
        <mat-label>{{learningOutcome.businessGoal}}</mat-label>
      </div>
    </div>
  </div>
</ng-template>


<div *ngIf="learningOutcomes">
  <ng-container [ngTemplateOutlet]="learningOutcomeTree"
                [ngTemplateOutletContext]="{learnings: learningOutcomes}"></ng-container>
</div>
