<ng-template #learningOutcomeTree let-learningOutcomes_tmp="learnings">
  <div *ngFor="let learningOutcome of learningOutcomes_tmp; last as last"
       class="learning-outcome-tree">
    <div class="learning-outcome-tree-content">
      <button mat-button #toggleButton
              [attr.aria-label]="'toggle ' + learningOutcome.title"
              (click)="toggleButton.isOpen = !toggleButton.isOpen">
        <mat-icon class="mat-icon-rtl-mirror highlight-green">
          {{toggleButton.isOpen ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
       <mat-label class="highlight-green">{{learningOutcome.title}}</mat-label>
      </button>
      <div class="learning-outcome-tree-content-extended" [class.learning-outcome-tree-invisible]="!toggleButton.isOpen" >
        <div *ngIf="learningOutcome.skill">
          <br>
          <mat-label><b>WAS&nbsp;</b></mat-label>
          <mat-label>{{learningOutcome.skill.description}}</mat-label>
          <mat-label>{{learningOutcome.skill.taxonomyLevel}}</mat-label>
        </div>
        <div *ngIf="learningOutcome.toolKit && learningOutcome.toolKit.length >0">
          <br>
          <mat-label><b>WOMIT&nbsp;</b></mat-label>
          <mat-label *ngFor="let tool of learningOutcome.toolKit">{{tool}}</mat-label>
        </div>
        <div *ngIf="learningOutcome.purpose">
          <mat-label><b>WOZU</b></mat-label>
          <mat-label>{{learningOutcome.purpose}}</mat-label>
        </div>
      </div>
    </div>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </div>
</ng-template>


<mat-card class="learning-outcome-view">
  <mat-card-title>Learning Outcomes</mat-card-title>
  <mat-card-content>
    <div *ngIf="learningOutcomes">
      <ng-container [ngTemplateOutlet]="learningOutcomeTree"
                    [ngTemplateOutletContext]="{learnings: learningOutcomes}"></ng-container>
    </div>
  </mat-card-content>
</mat-card>



