//corporate design CoalBase
$coalbase-green-lighter: #60ad5e;
$coalbase-green: #2e7d32;
$coalbase-green-darker: #005005;

$coalbase-grey-lighter: #4f5b62;
$coalbase-grey: #263238;
$coalbase-grey-darker: #000a12;
