//corporate design CoalBase
$th-koeln-red: #c81e0f;
$th-koeln-orange: #ea5a00;
$th-koeln-violet: #b43092;



$coalbase-green-lighter: #60ad5e;
$coalbase-green: #2e7d32;
$coalbase-green-darker: #005005;

$coalbase-grey-lighter: #4f5b62;
$coalbase-grey: #263238;
$coalbase-grey-darker: #000a12;
