<div class="exam-form-content">
  <div *ngIf="examForm">
    <p *ngIf="examForm.type !== ''">
      <strong>Typ:</strong>
      {{examForm.type}}
    </p>
    <p *ngIf="examForm.type === ''">
      <strong>Typ:</strong>
      ?
    </p>

    <p *ngIf="examForm.description !== ''">
      <strong>Beschreibung:</strong>
      {{examForm.description}}
    </p>
    <p *ngIf="examForm.description === ''">
      <strong>Beschreibung:</strong>
      ?
    </p>

    <p *ngFor="let schedule of examForm.schedules; let first = first; let last = last">
      <strong *ngIf="first">Zeitplan:</strong>
      {{last ? schedule.value : schedule.value + ","}}
    </p>
    <p *ngIf="examForm.schedules.length === 0">
      <strong>Zeitplan:</strong>
      ?
    </p>

    <p *ngIf="examForm.scope.maxValue != 0">
      <strong>Umfang:</strong>
      {{examForm.scope.minValue + ' - ' + examForm.scope.maxValue + ' ' + examForm.scope.unit}}
    </p>
    <p *ngIf="examForm.scope.minValue != 0 && examForm.scope.maxValue == 0">
      <strong>Umfang:</strong>
      {{examForm.scope.minValue + ' ' + examForm.scope.unit}}
    </p>
    <p *ngIf="examForm.scope.minValue == 0 && examForm.scope.maxValue == 0 && examForm.scope.unit !== ''">
      <strong>Umfang:</strong>
      {{examForm.scope.unit}}
    </p>
    <p *ngIf="examForm.scope.minValue == 0 && examForm.scope.maxValue == 0 && examForm.scope.unit === ''">
      <strong>Umfang:</strong>
      ?
    </p>
  </div>
</div>
