<div class="imprint-panel">
  <mat-card>
    <mat-card-title>Impressum</mat-card-title>
    <mat-card-content>
      <p>Prof. Dr.-Ing. Stefan Bente</p>
      <p>Technische Hochschule Köln</p>
      <p>Steinmüllerallee 1</p>
      <p>51643 Gummersbach</p>
      <p>Deutschland</p>
      <p>Tel.: +49 2261 8196 6367</p>
      <p>E-Mail: stefan.bente@th-koeln.de</p>
      <br>
      Weitere Information zu dem Projekt finden Sie unter: <a href="https://archi-lab.io/">Archi-lab.io</a>
      <br>
      Weitere Informaton zu der TH-Köln sind zu finden unter: <a href="https://th-koeln.de/">TH-Koeln.de</a>
      <h4>Weitere Ansprechpartner</h4>
      <mat-list>
        <mat-list-item>

          <p matLine>Marco Reitano B. Sc.</p>
          <p matLine>marco.reitano@th-koeln.de</p>
        </mat-list-item>
        <mat-list-item>

          <p matLine>Marc Schmidt B. Sc.</p>
          <p matLine>marc.schmidt1@th-koeln.de</p>

        </mat-list-item>
        <mat-list-item>

          <p matLine>Jann Deterling B. Sc.</p>
          <p matLine>jann.deterling@th-koeln.de</p>

        </mat-list-item>
        <mat-list-item>

          <p matLine>Julian Lengelsen B. Sc.</p>
          <p matLine>julian.lengelsen@th-koeln.de</p>

        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
