<mat-card-title>{{learningOutcome.title}}</mat-card-title>
<mat-card-content>
  <br>
  <mat-label><strong>WAS&nbsp;</strong></mat-label>
  <mat-label>{{learningOutcome.skill.description}}</mat-label>
  <mat-label>{{learningOutcome.skill.taxonomyLevel}}</mat-label>

  <br>
  <mat-label><strong>WOMIT&nbsp;</strong></mat-label>
  <mat-label *ngFor="let tool of learningOutcome.toolKit">{{tool}}</mat-label>

  <br>
  <mat-label><strong>WOZU</strong></mat-label>
  <mat-label>{{learningOutcome.purpose}}</mat-label>
</mat-card-content>





