<mat-card-title>Learning Outcome</mat-card-title>
<mat-card-content class="learning-outcome-editor-content">
  <mat-label><strong>WAS&nbsp;</strong></mat-label>
  <div>
    <mat-label>{{learningOutcome.competence.action}}</mat-label>
    <br>
    <mat-label>{{learningOutcome.competence.taxonomyLevel}}</mat-label>
  </div>
  <mat-label><strong>WOMIT&nbsp;</strong></mat-label>
  <div>
    <div *ngFor="let tool of learningOutcome.tools">
      <mat-label>{{tool.value}}</mat-label>
      <br>
    </div>
  </div>
  <mat-label><strong>WOZU </strong></mat-label>
  <mat-label>{{learningOutcome.purpose.value}}</mat-label>
</mat-card-content>





