@import '../../../../assets/scss/coalbase-colors';

.attribute-region {
  display: flex;
  justify-content: flex-start;
}

.comment-region {
  width: 20%;
}

.learning-outcome-editor {
  margin: 0 auto;
  width: 68.5%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.learning-outcome-editor-content {
  display: grid;
  grid-template-columns: 10% auto;
  grid-row-gap: 10px;
}

.learning-outcome-editor-label {
  margin: 1.125em auto 0 auto;
}

.form-array {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.form-control {
  width: 60%;
  margin-right: 5%;
}

.form-wrapper {
  margin-left: 2%;
  width: 78%;
}

.form-group-taxonomy {
  width: 25%;
  margin-right: 2%;
}

.remove-button{

}

.learning-outcome-editor-button-group {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  button {
    margin: 5px;
  }
}

