@import '../../../../assets/scss/coalbase-colors';


.learning-outcome-editor {
  margin: 0 auto;
  width: 68.5%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.learning-outcome-editor-content {
  display: grid;
  grid-template-columns: min-content minmax(max-content, auto) 300px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.learning-outcome-editor-label {
  margin: 1.125em auto 0 auto;
}

.form-array {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: baseline;
}

.form-control {
  width: 60%;
  margin-right: 5%;
}

.form-group-taxonomy {
  width: 25%;
  margin-right: 2%;
}

.remove-button{

}

.learning-outcome-editor-button-group {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  button {
    margin: 5px;
  }
}

