<mat-card class="learning-outcome-editor">
  <mat-card-title>Learning Outcome</mat-card-title>
  <mat-card-content  [formGroup]="learningOutcomeFormGroup"
                    class="learning-outcome-editor-content">

    <mat-label class="learning-outcome-editor-label"><strong>Als</strong></mat-label>
    <div>
      <mat-form-field class="form-control" color="accent">
      <textarea matInput placeholder="Rolle"
                [formControl]="roleFormControl"></textarea>
      </mat-form-field>
    </div>
    <app-comment-editor [attachedEntityId]="learningOutcome.getIdFromUri()" [attributeName]="'role'" [componentName]="'Rolle'"></app-comment-editor>

    <mat-label class="learning-outcome-editor-label"><strong>kann ich</strong></mat-label>
    <div [formGroup]="competenceFormGroup">
      <mat-form-field class="form-control" color="accent">
      <textarea matInput placeholder="Kompetenz"
                [formControl]="competenceFormGroup.controls.action"></textarea>
      </mat-form-field>

      <mat-form-field class="form-group-taxonomy" color="accent">
        <mat-select placeholder="Taxonomiestufe"
                    [formControl]="competenceFormGroup.controls.taxonomyLevel">
          <mat-option *ngFor="let taxonomyLevel of taxonomyLevels; let i = index"
                      [value]="taxonomyLevel.backend">
            {{'(' + (i + 1) + ') ' + taxonomyLevel.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-comment-editor [attachedEntityId]="learningOutcome.getIdFromUri()" [attributeName]="'competence'" [componentName]="'Kompetenz'"></app-comment-editor>

    <mat-label class="learning-outcome-editor-label"><strong>vorausgesetzt, ich kann</strong></mat-label>
    <div class="form-array">
      <div formArrayName="requirements"
           *ngFor="let requirement of requirementsFormArray.controls; let requirementFormIndex = index">
        <mat-form-field
          color="accent"
          class="form-control">
          <textarea matInput placeholder="Voraussetzung"
                    [formControl]="requirement.get('requirement')"></textarea>
        </mat-form-field>

        <mat-form-field class="form-group-taxonomy" color="accent">
          <mat-select placeholder="Taxonomiestufe"
                      [formControl]="requirement.get('taxonomyLevel')">
            <mat-option *ngFor="let taxonomyLevel of taxonomyLevels; let i = index"
                        [value]="taxonomyLevel.backend">
              {{'(' + (i + 1) + ') ' + taxonomyLevel.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" class="remove-button" (click)="removeRequirement(requirementFormIndex)">
          <mat-icon aria-label="Button um eine Voraussetzung zu löschen">delete</mat-icon>
        </button>
      </div>

      <button mat-mini-fab (click)="addRequirement('', undefined)">
        <mat-icon aria-label="Button um eine Voraussetzung hinzu zu fügen">add</mat-icon>
      </button>
    </div>
    <app-comment-editor [attachedEntityId]="learningOutcome.getIdFromUri()" [attributeName]="'requirements'" [componentName]="'Voraussetzungen'"></app-comment-editor>

    <mat-label class="learning-outcome-editor-label"><strong>indem ich</strong></mat-label>
    <div class="form-array">
      <div formArrayName="abilities" *ngFor="let ability of abilitiesFormArray.controls; let abilityFormIndex = index">
        <mat-form-field
          color="accent"
          class="form-control">
          <textarea matInput placeholder="Fähigkeit"
                    [formControl]="ability.get('ability')"></textarea>
        </mat-form-field>

        <mat-form-field class="form-group-taxonomy" color="accent">
          <mat-select placeholder="Taxonomiestufe"
                      [formControl]="ability.get('taxonomyLevel')">
            <mat-option *ngFor="let taxonomyLevel of taxonomyLevels; let i = index"
                        [value]="taxonomyLevel.backend">
              {{'(' + (i + 1) + ') ' + taxonomyLevel.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" class="remove-button" (click)="removeAbility(abilityFormIndex)">
          <mat-icon aria-label="Button um ein Fähigkeit zu löschen">delete</mat-icon>
        </button>
      </div>

      <button mat-mini-fab (click)="addAbility('', undefined)">
        <mat-icon aria-label="Button um ein Fähigkeit hinzu zu fügen">add</mat-icon>
      </button>
    </div>
    <app-comment-editor [attachedEntityId]="learningOutcome.getIdFromUri()" [attributeName]="'abilities'" [componentName]="'Fähigkeiten'"></app-comment-editor>


    <mat-label class="learning-outcome-editor-label"><strong>sodass ich</strong></mat-label>
    <div class="form-array">
      <div formArrayName="purposes" *ngFor="let purpose of purposesFormArray.controls; let purposeFormIndex = index">
        <mat-form-field
          color="accent"
          class="form-control">
          <textarea matInput placeholder="Zweck"
                    [formControl]="purpose.get('purpose')"></textarea>
        </mat-form-field>

        <button mat-mini-fab color="primary" class="remove-button" (click)="removePurpose(purposeFormIndex)">
          <mat-icon aria-label="Button um einen Zweck zu löschen">delete</mat-icon>
        </button>
      </div>

      <button mat-mini-fab (click)="addPurpose('')">
        <mat-icon aria-label="Button um einen Zweck hinzu zu fügen">add</mat-icon>
      </button>
    </div>
    <app-comment-editor [attachedEntityId]="learningOutcome.getIdFromUri()" [attributeName]="'purposes'" [componentName]="'Zwecke'"></app-comment-editor>

    <div class="learning-outcome-editor-button-group">
      <button mat-raised-button (click)="closeLearningOutcomeEditor(undefined)">
        <mat-icon>arrow_back_ios</mat-icon>
        Abbrechen
      </button>
      <button mat-raised-button color="accent" (click)="saveLearningOutcome()">
        Speichern
      </button>
    </div>

  </mat-card-content>
</mat-card>




