<mat-card class="learning-outcome-editor">
  <mat-card-title>Learning Outcome</mat-card-title>
  <mat-card-content  [formGroup]="learningOutcomeFormGroup"
                    class="learning-outcome-editor-content">

    <mat-label class="learning-outcome-editor-label"><strong>Als</strong></mat-label>
    <div class="form-wrapper">
      <mat-form-field class="form-control" color="accent">
        <textarea matInput placeholder="Rolle"
                  [formControl]="roleFormControl"></textarea>
      </mat-form-field>
    </div>

    <mat-label class="learning-outcome-editor-label"><strong>kann ich</strong></mat-label>
    <div [formGroup]="competenceFormGroup"
         class="form-wrapper">
      <mat-form-field class="form-control" color="accent">
        <textarea matInput placeholder="Kompetenz"
                  [formControl]="competenceFormGroup.controls.action"></textarea>
      </mat-form-field>

      <mat-form-field class="form-group-taxonomy" color="accent">
        <mat-select placeholder="Taxonomiestufe"
                    [formControl]="competenceFormGroup.controls.taxonomyLevel">
          <mat-option *ngFor="let taxonomyLevel of taxonomyLevels; let i = index"
                      [value]="taxonomyLevel.backend">
            {{'(' + (i + 1) + ') ' + taxonomyLevel.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-label class="learning-outcome-editor-label"><strong>vorausgesetzt, ich kann</strong></mat-label>
    <div class="form-array form-wrapper">
      <div formArrayName="requirements"
           *ngFor="let requirement of requirementsFormArray.controls; let requirementFormIndex = index">
        <mat-form-field
          color="accent"
          class="form-control">
          <textarea matInput placeholder="Fähigkeit"
                    [formControl]="requirement.get('requirement')"></textarea>
        </mat-form-field>

        <mat-form-field class="form-group-taxonomy" color="accent">
          <mat-select placeholder="Taxonomiestufe"
                      [formControl]="requirement.get('taxonomyLevel')">
            <mat-option *ngFor="let taxonomyLevel of taxonomyLevels; let i = index"
                        [value]="taxonomyLevel.backend">
              {{'(' + (i + 1) + ') ' + taxonomyLevel.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" class="remove-button" (click)="removeRequirement(requirementFormIndex)">
          <mat-icon aria-label="Button um eine Fähigkeit zu löschen">delete</mat-icon>
        </button>
      </div>

      <button mat-mini-fab (click)="addRequirement('', this.taxonomyLevels[0].name)">
        <mat-icon aria-label="Button um ein Fähigkeit hinzu zu fügen">add</mat-icon>
      </button>
    </div>

    <mat-label class="learning-outcome-editor-label"><strong>indem ich</strong></mat-label>
    <div class="form-array form-wrapper">
      <div formArrayName="abilities" *ngFor="let ability of abilitiesFormArray.controls; let abilityFormIndex = index">
        <mat-form-field
          color="accent"
          class="form-control">
          <textarea matInput placeholder="Fähigkeit"
                    [formControl]="ability.get('ability')"></textarea>
        </mat-form-field>

        <mat-form-field class="form-group-taxonomy" color="accent">
          <mat-select placeholder="Taxonomiestufe"
                      [formControl]="ability.get('taxonomyLevel')">
            <mat-option *ngFor="let taxonomyLevel of taxonomyLevels; let i = index"
                        [value]="taxonomyLevel.backend">
              {{'(' + (i + 1) + ') ' + taxonomyLevel.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" class="remove-button" (click)="removeAbility(abilityFormIndex)">
          <mat-icon aria-label="Button um ein Fähigkeit zu löschen">delete</mat-icon>
        </button>
      </div>

      <button mat-mini-fab (click)="addAbility('', this.taxonomyLevels[0].name)">
        <mat-icon aria-label="Button um ein Fähigkeit hinzu zu fügen">add</mat-icon>
      </button>
    </div>

    <mat-label class="learning-outcome-editor-label"><strong>sodass ich</strong></mat-label>
    <div class="form-array form-wrapper">
      <div formArrayName="purposes" *ngFor="let purpose of purposesFormArray.controls; let purposeFormIndex = index">
        <mat-form-field
          color="accent"
          class="form-control">
          <textarea matInput placeholder="Zweck"
                    [formControl]="purpose.get('purpose')"></textarea>
        </mat-form-field>

        <button mat-mini-fab color="primary" class="remove-button" (click)="removePurpose(purposeFormIndex)">
          <mat-icon aria-label="Button um einen Zweck zu löschen">delete</mat-icon>
        </button>
      </div>

      <button mat-mini-fab (click)="addPurpose('', this.taxonomyLevels[0].name)">
        <mat-icon aria-label="Button um einen Zweck hinzu zu fügen">add</mat-icon>
      </button>
    </div>

    <div class="learning-outcome-editor-button-group">
      <button mat-raised-button (click)="closeLearningOutcomeEditor(undefined)">
        <mat-icon>arrow_back_ios</mat-icon>
        Abbrechen
      </button>
      <button mat-raised-button color="accent" (click)="saveLearningOutcome()">
        Speichern
      </button>
    </div>

  </mat-card-content>
</mat-card>




