<div class="exam-form-editor-container"
     [formGroup]="examFormForm">

  <mat-label class="exam-form-editor-label"><strong>Entwurf</strong></mat-label>
  <mat-form-field color="accent">
    <mat-select placeholder="Entwurf"
                [formControl]="templateForm">
      <mat-option *ngFor="let predefinedExamForm of predefinedExamForms"
                  [value]="predefinedExamForm._links.self.href"
                  (click)="usePredefinedExamForm(predefinedExamForm._links.self.href)">
        {{predefinedExamForm.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label class="exam-form-editor-label"><strong>Typ</strong></mat-label>
  <mat-form-field color="accent">
        <textarea matInput placeholder="Typ"
                  [formControl]="typeForm"></textarea>
  </mat-form-field>

  <mat-label class="exam-form-editor-label"><strong>Beschreibung</strong></mat-label>
  <mat-form-field color="accent">
        <textarea matInput placeholder="Beschreibung"
                  [formControl]="descriptionForm"></textarea>
  </mat-form-field>

  <mat-label class="exam-form-editor-label"><strong>Zeitpunkte</strong></mat-label>
  <div class="form-array">
    <div formArrayName="schedules" *ngFor="let schedule of schedulesFormArray.controls; let scheduleFormIndex = index">
      <mat-form-field
        color="accent"
        class="form-control">
          <textarea matInput placeholder="Zeitpunkt"
                    [formControl]="schedule"></textarea>
      </mat-form-field>

      <button mat-mini-fab color="primary" class="remove-button" (click)="removeSchedule(scheduleFormIndex)">
        <mat-icon aria-label="Button um einen Zeitpunkt zu löschen">delete</mat-icon>
      </button>
    </div>

    <button mat-mini-fab class="add-button" (click)="addSchedule('')">
      <mat-icon aria-label="Button um einen Zeitpunkt hinzu zu fügen">add</mat-icon>
    </button>
  </div>

  <mat-label class="exam-form-editor-label"><strong>Dauer</strong></mat-label>
  <div class="duration-container">
    <mat-form-field color="accent">
        <input matInput placeholder="Min" type="number"
                  [formControl]="durationMinValueForm">
    </mat-form-field>

    <p>
      <strong>-</strong>
    </p>

    <mat-form-field color="accent">
        <input matInput placeholder="Max" type="number"
                  [formControl]="durationMaxValueForm">
    </mat-form-field>

    <mat-form-field class="unit-form-field" color="accent">
        <input matInput placeholder="Einheit"
                  [formControl]="durationUnitForm">
    </mat-form-field>
  </div>
</div>
