@import "~src/assets/scss/coalbase-colors";

.learning-outcome-page{
  margin: 0;
  padding: 1.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.learning-outcome-overview {
  margin-right: 1.5%;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
.learning-outcome-editor {
  width: 68.5%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

