<div class="learning-space-container">
  <mat-card class="learning-space-card" *ngFor="let learningSpace of sortedLearningSpaces;">
    <mat-card-header>
      <mat-card-title>{{learningSpace.title}}</mat-card-title>
      <mat-card-subtitle>LearningOutcome Titel</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem Ipsum Lorem Ipsum
        Lorem Ipsum
        Lorem Ipsum
        Lorem Ipsum
        Lorem IpsumLorem Ipsum
        Lorem Ipsum
        Lorem Ipsum</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">Bearbeiten</button>
    </mat-card-actions>
  </mat-card>
</div>
