<div class="learning-space-container">
  <mat-card class="learning-space-card" *ngFor="let learningSpace of sortedLearningSpaces;">
    <mat-card-header>
      <mat-card-title>{{learningSpace.title}}</mat-card-title>
      <mat-card-subtitle *ngIf="!learningSpace.isFirst()">
        Vorbedingung:&nbsp;{{learningSpace.requirement.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="learning-space-learning-outcome-container"
           *ngIf="learningSpace.learningOutcome && !learningSpace.learningOutcome.isEmpty()">
        <h3 class="learning-space-learning-outcome-container-title">Learning Outcome</h3>
        <div class="learning-space-learning-outcome">
          <mat-label class="learning-space-learning-outcome-label"><b>Was:</b></mat-label>
          <mat-label
            class="learning-space-learning-outcome-value">{{learningSpace.learningOutcome.competence.action}}</mat-label>
          <mat-label class="learning-space-learning-outcome-label"><b>Womit:</b></mat-label>
          <div class="learning-space-learning-outcome-value">
            <mat-label *ngFor="let tool of learningSpace.learningOutcome.tools">{{tool.value}}</mat-label>
          </div>
          <mat-label class="learning-space-learning-outcome-label"><b>Wozu:</b></mat-label>
          <mat-label
            class="learning-space-learning-outcome-value">{{learningSpace.learningOutcome.purpose.value}}</mat-label>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [routerLink]="['/learning-spaces', learningSpace.getIdFromUri()]">
        Bearbeiten
      </button>
    </mat-card-actions>
  </mat-card>
</div>
