@import '../../../../assets/scss/coalbase-colors';

.learning-space-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 2em;
  padding: 2em 2em 2em 2em;
}

.learning-space-card {
  margin: auto;
  max-width: 400px;
  min-width: 400px;
  box-sizing: border-box;
}

.learning-space-card-add {
  padding: 0;
  min-height: 400px;
  max-height: 400px;
}

.add-icon {
  height: 400px;
  width: 400px;
  font-size: 400px;
  line-height: 400px;
}

.learning-space-learning-outcome-container-title {
  margin: auto;
  width: fit-content;
}

.learning-space-learning-outcome {
  display: grid;
  grid-template-columns: .5fr 1fr;
  border-radius: 4px;
  border-width: 1px;
  border-style: dashed;
  border-color: $coalbase-green-lighter;
}

.learning-space-learning-outcome-label {
  color: $coalbase-green;
  margin: auto;
}

.learning-space-learning-outcome-value {
  text-align: center;
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 1024px) {
  .learning-space-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 2em;
    padding: 2em 2em 2em 2em;
  }
}

@media only screen and (max-width: 425px) {
  .learning-space-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 2em;
    padding: 2em 2em 2em 2em;
  }
}
