<div class="learning-space-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{course.title}}
      </mat-card-title>
      <mat-card-subtitle>Lernräume</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-card class="learning-space-card" cdkDrag
                  *ngFor="let learningSpace of sortedLearningSpaces;">
          <mat-card-header>
            <mat-card-title>{{learningSpace.title}}</mat-card-title>
            <mat-card-subtitle *ngIf="!learningSpace.isFirst()">
              Vorbedingung:&nbsp;{{learningSpace.requirement.title}}</mat-card-subtitle>
          </mat-card-header>
          <div class="learning-space-card-placeholder" *cdkDragPlaceholder></div>
          <mat-card-content>
            <div class="learning-space-content-container">

              <div class="learning-space-content">
                <div *ngIf="learningSpace.learningOutcome && !learningSpace.learningOutcome.isEmpty()">
                  <h3>Ziel des Lernraums:</h3>
                  <p>
                    <strong>Als</strong>
                    {{learningSpace.learningOutcome.role.value}}
                  </p>
                  <p>
                    <strong>kann ich</strong>
                    {{learningSpace.learningOutcome.competence.action}}
                  </p>
                  <p *ngFor="let requirement of learningSpace.learningOutcome.requirements; let first = first; let last = last">
                    <strong>{{first ? "vorausgesetzt, ich kann" : ""}}</strong>
                    {{last ? requirement.value : requirement.value + ","}}
                  </p>
                  <p *ngFor="let ability of learningSpace.learningOutcome.abilities; let first = first; let last = last">
                    <strong>{{first ? "indem ich" : ""}}</strong>
                    {{last ? ability.value : ability.value + ","}}
                  </p>
                  <p *ngFor="let purpose of learningSpace.learningOutcome.purposes; let first = first; let last = last">
                    <strong>{{first ? "sodass ich" : ""}}</strong>
                    {{last ? purpose.value : purpose.value + ","}}
                  </p>
                </div>
              </div>
              <div  class="learning-space-drag-indicator">
                <mat-icon class="drag-indicator"
                          [matTooltip]="'Sie können dieses Element per Drag&Drop neu anordnen.'"
                          [matTooltipShowDelay]="700"
                          [matTooltipHideDelay]="300"
                          [matTooltipPosition]="'above'" >
                  drag_indicator
                </mat-icon>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="['./', learningSpace.getIdFromUri()]">
              Bearbeiten
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button class="learning-space-button-add" color="accent"
              [routerLink]="[ './new']">
        Neuen Lernraum hinzufügen
      </button>
    </mat-card-actions>
  </mat-card>
</div>
