<mat-toolbar class="header">
  <div class="toolbar-left">
    <a [routerLink]="['/courses']">
     <img class="header-logo" src="../assets/images/coalbase-logo-text-right.svg" alt="Coalbase Logo"/>
    </a>
  </div>
  <div class="toolbar-right">
    <button mat-button (click)="logout()">Abmelden</button>
  </div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<mat-toolbar class="footer">
  <div>
    <a mat-button routerLink="/privacy" routerLinkActive="underline">Datenschutz</a>
    <a mat-button routerLink="/imprint" routerLinkActive="underline">Impressum</a>
    <a mat-button href="https://archi-lab.io">ArchiLab</a>
  </div>
    <a class="footer-logo-container" href="https://www.th-koeln.de/">
    <img class="footer-logo" src="../assets/images/th-koeln-logo.png" alt="TH-Köln Logo"/>
    </a>
</mat-toolbar>




