@import '../assets/scss/coalbase-colors';

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border-top-style: solid;
  border-top-color: $th-koeln-orange;
  border-top-width: 3px;
  background-color: #f7f7f7;
  box-shadow: 0 1px 1px -5px rgba(0, 0, 0, .1), 0 1px 2px 1px rgba(0, 0, 0, .02), 0 1px 2px 1px rgba(0, 0, 0, .02);
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #d4d4d4;
}

.header-logo {
  margin-top: 8px;
  height: 42px;
}

.underline {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: $th-koeln-orange;
}

.content {
  background: url('../assets/images/coalbase-background-3.svg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100% - 100px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #f7f7f7;
  box-shadow: 0 -1px 1px -5px rgba(0, 0, 0, .1), 0 -1px 2px 1px rgba(0, 0, 0, .02), 0 -1px 2px 1px rgba(0, 0, 0, .02);
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #d4d4d4;
}

.footer-logo-container {
  position: fixed;
  left: calc(100% - 65px);
  box-sizing: border-box;
  padding-top: 5px;
  height: 45px;
}

.footer-logo {
  height: 35px;
}


.title-center {
  margin: 0 auto;
}
