@import '../assets/scss/coalbase-colors';

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: $coalbase-grey;
  color: white;
}

.underline {
  text-decoration: underline;
}

.content {
  background: url('../assets/images/coalbase-background-3.svg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100% - 100px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.footer {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: $coalbase-grey;
  color: white;
}
