<div class="learning-outcome-content">
  <div *ngIf="learningOutcome">
    <p>
      <strong>Als</strong>
      {{learningOutcome.role.value}}
    </p>
    <p>
      <strong>kann ich</strong>
      {{buildCompetenceWithTaxonomy(learningOutcome.competence)}}
    </p>
    <p *ngFor="let requirement of learningOutcome.requirements; let first = first; let last = last">
      <strong>{{first ? "vorausgesetzt, ich kann" : ""}}</strong>
      {{last ? buildRequirementWithTaxonomy(requirement) : buildRequirementWithTaxonomy(requirement) + ","}}
    </p>
    <p *ngFor="let ability of learningOutcome.abilities; let first = first; let last = last">
      <strong>{{first ? "indem ich" : ""}}</strong>
      {{last ? buildAbilityWithTaxonomy(ability) : buildAbilityWithTaxonomy(ability) + ","}}
    </p>
    <p *ngFor="let purpose of learningOutcome.purposes; let first = first; let last = last">
      <strong>{{first ? "sodass ich" : ""}}</strong>
      {{last ? purpose.value : purpose.value + ","}}
    </p>
  </div>
</div>
