@import '~src/assets/scss/coalbase-colors';

.course-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1.5% 0 1.5% 0;
}

.course-card {
  width: 100%;
  margin: 10px 20px;
}

.course-add {
  height: fit-content;
  justify-content: center;
  align-content: center;
}

.example-course-image {
  background-image: url('~src/assets/images/coalbase-background.svg');
  background-size: cover;
  background-position: center;
}

.course-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $coalbase-green;
  background-size: cover;
  background-position: center;

  div {
    font-size: 1.3em;
    text-align: center;
    color: white;
  }
}

h3 {
  display: block;
  font-size: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.learning-space-card {
  margin: 1%;
  box-sizing: border-box;
  display: inline-block;
  max-width: 31%;
}

.learning-space-edit {
  height: 100%;
  width: 100%;
}

.learning-space-title {
  margin: 0;
  display: block;
  vertical-align: middle;
  padding-bottom: 0.1em;
}

.mat-card-actions
{
  width: fit-content;
  margin: auto;
  padding: 0;
}

