@import '~src/assets/scss/coalbase-colors';

.course-page {
  padding: 1.5% 0 1.5% 0;
  margin: 0 auto;
  max-width: 800px;
}

.course-card {
  display: block;
  margin: 10px 20px;
}

.course-add {
  height: fit-content;
  justify-content: center;
  align-content: center;
}

.example-course-image {
  background-image: url('~src/assets/images/coalbase-background.svg');
  background-size: cover;
  background-position: center;
}

.course-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $th-koeln-orange;
  background-size: cover;
  background-position: center;

  div {
    font-size: 1.3em;
    text-align: center;
    color: white;
  }
}

.course-description-card {
  margin: 0;
}

h3 {
  display: block;
  font-size: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.learning-space-expansion-panel {
  background: #ffffff00;
}

.learning-space-edit {
  margin-left: auto;
}

.mat-card-actions
{
  width: fit-content;
  margin: auto;
  padding: 0;
}

