<div class="course-page">
  <mat-card class="course-card" *ngFor="let course of courses | async">
    <mat-card-header>
      <div mat-card-avatar class="course-avatar">
        <div>{{buildShortName(course)}}</div>
      </div>
      <mat-card-title>{{course.title}}</mat-card-title>
      <mat-card-subtitle>Lehrveranstaltung</mat-card-subtitle>
    </mat-card-header>

    <h3>
      Lernräume
    </h3>
    <p *ngIf="course.learningSpaces.length == 0">
      Keine Lernräume vorhanden
    </p>
    <mat-card class="learning-space-card" *ngFor="let learningSpace of course.learningSpaces;">
      <mat-card-title class="learning-space-title">
        {{learningSpace.title}}
      </mat-card-title>

      <button mat-raised-button class="learning-space-edit" color="accent" [routerLink]="['./' , course.getIdFromUri(), 'learning-spaces', learningSpace.getIdFromUri()]">
        Bearbeiten
      </button>
    </mat-card>

    <h3>
      Beschreibung
    </h3>
    <mat-card-content>
      {{course.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" [routerLink]="['/courses', course.getIdFromUri()]">Veranstaltung bearbeiten
      </button>
      <button mat-button color="accent" [routerLink]="['/courses', course.getIdFromUri(),'learning-spaces']">Lernräume
        verwalten
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="course-card course-add">
    <button mat-button color="accent" [routerLink]="['/courses/new']">Neue Lehrveranstaltung
      hinzufügen
    </button>
  </mat-card>
</div>
