<div class="course-page">
  <mat-card class="course-overview">
    <mat-card-title>Lehrveranstaltungen</mat-card-title>
    <mat-card-content>
      <div *ngIf="courses">
        <mat-action-list>
          <mat-list-item *ngFor="let course of courses | async" [routerLink]="['/courses', course.getIdFromUri()]">
            <div class="course-overview-item">
              {{course.title}}
            </div>
          </mat-list-item>
        </mat-action-list>
      </div>
      <button mat-raised-button color="accent" [routerLink]="['/courses/new']">Neue Lehrveranstaltung
        hinzufügen
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card class="course-editor">
    <router-outlet></router-outlet>
  </mat-card>
</div>
