@import '~src/assets/scss/coalbase-colors';

.course-page {
  margin: 0;
  padding: 1.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.course-overview {
  margin-right: 1.5%;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.course-overview-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.course-editor {
  width: 68.5%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
