<mat-card class="learning-space-editor-card" *ngIf="showLearningSpaceEditor">
  <mat-card-header>
    <mat-card-title>{{learningSpace.title}}</mat-card-title>
    <mat-card-subtitle>Lernraum</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="learning-space-editor-container"
         [formGroup]="learningSpaceForm">
      <mat-label class="learning-space-editor-label"><strong>Lehrveranstaltung</strong></mat-label>
      <mat-label class="learning-space-editor-course-label">{{course.title}}</mat-label>
      <mat-label class="learning-space-editor-label"><strong>Lernraum Titel</strong></mat-label>
      <mat-form-field color="accent">
        <textarea matInput placeholder="Titel für den Lernraum eingeben"
                  [formControl]="titleForm"></textarea>
      </mat-form-field>

      <mat-label class="learning-space-editor-label"><strong>Learning Outcome</strong></mat-label>
      <button mat-raised-button
              *ngIf="learningSpace.learningOutcome === undefined
              || learningSpace.learningOutcome._links === undefined
              || learningSpace.learningOutcome._links.self === undefined"
              (click)="openLearningOutcomeEditor()">Erstellen
      </button>


      <button mat-raised-button
              *ngIf="learningSpace.learningOutcome !== undefined && learningSpace.learningOutcome._links !== undefined && learningSpace.learningOutcome._links.self"
              (click)="openLearningOutcomeEditor()">Bearbeiten
      </button>

      <!--      <mat-form-field color="accent">-->
      <!--        <mat-select placeholder="Wählen Sie ein Learning Outcome"-->
      <!--                    [formControl]="learningOutcomeForm">-->
      <!--          <mat-option *ngFor="let learningOutcomeOption of learningOutcomes"-->
      <!--                      [value]="learningOutcomeOption._links.self.href">-->
      <!--            {{learningOutcomeOption.competence.action}}-->
      <!--          </mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="backToPreviousPage()">
      <mat-icon>arrow_back_ios</mat-icon>
      Abbrechen
    </button>
    <button mat-raised-button color="primary" (click)="deleteLearningSpace()">
      <mat-icon>close</mat-icon>
      Löschen
    </button>
    <button mat-raised-button color="accent" (click)="saveLearningSpace()">
      <mat-icon>check</mat-icon>
      Speichern
    </button>
  </mat-card-actions>
</mat-card>


<app-learning-outcome-editor *ngIf="showLearningOutcomeEditor" (closeComponent)="closeLearningOutcomeEditor($event)" ></app-learning-outcome-editor>
