@import '../../../../assets/scss/coalbase-colors';

.learning-space-editor-card {
  margin: 1.5em auto 0 auto;
  max-width: 800px;
  min-width: 800px;
  box-sizing: border-box;
}

.learning-space-editor-container {
  display: grid;
  grid-template-columns: auto auto;
}

.learning-space-editor-label {
  margin: 1.125em auto 0 auto;
  color: $th-koeln-violet;
}

.learning-space-editor-course-label {
  padding: 1em 0;
}

.mat-card-actions .mat-raised-button:first-child {
  margin-right: 8px;
}

.mat-form-field {
  margin-bottom: 10px;
}

.learning-outcome-edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.webLinkResource {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.webLinkResourceForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    margin: auto;
  }
}

.webLinkResourceFormControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;

  .mat-form-field {
    width: 100%;
  }
}
