/* You can add global styles to this file, and also import other style files */
@import "assets/scss/coalbase-material";
@import "assets/scss/coalbase-colors";

html {
  width: 100%;
  height: 100%;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background: url("./assets/images/bg-grid.png") top left repeat;
  background-color: lighten($coalbase-grey, 20%);
  margin: 0 0 0 0;
  height: 100%;
}

*:focus {
  outline: none;
}

