<h1 mat-dialog-title>Möchten Sie die Lehrveranstaltung "{{data.courseTitle}}" wirklich löschen?</h1>
<mat-dialog-content class="center">
  <div *ngIf="data.learningSpaceAmount == 0">
    Die Lehrveranstaltung hat keine Lernräume.
  </div>
  <div *ngIf="data.learningSpaceAmount > 0">
    Die Lehrveranstaltung besitzt noch {{data.learningSpaceAmount}} Lernräume.
  </div>
</mat-dialog-content>
<mat-dialog-actions class="center">
  <button mat-raised-button color="primary" (click)="submitAnswer(true)">Ja</button>
  <button mat-raised-button color="primary" (click)="submitAnswer(false)">Nein</button>
</mat-dialog-actions>
