.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-form-array {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    margin: auto;
  }
}

.comment-form-control {
  width: auto;
}

.comment-expansion-panel {
  background: #ffffff00;
  height: 100%;
}
