.space-around-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-form-array {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.comment-form-control {
  width: 100%;
}

.comment-expansion-panel {
  background: #ffffff00;
  height: 100%;
}
