<mat-expansion-panel class="comment-expansion-panel">
  <mat-expansion-panel-header class="comment-expansion-panel-header">
    {{componentName}}
  </mat-expansion-panel-header>

  <div class="comment-form" [formGroup]="commentsFormGroup">
    <div class="comment-form-array" formArrayName="comments"
         *ngFor="let comment of comments.controls; let commentFormIndex = index">

      <div class="space-around-div">
        <mat-form-field class="comment-form-control" color="accent">
        <textarea matInput placeholder="Kommentar"
                  [readonly]="!editMode"
                  [formControl]="comment.get('content')"></textarea>
          <mat-error *ngIf="comment.get('content').hasError('required')"></mat-error>
        </mat-form-field>

        <button mat-mini-fab color="primary" *ngIf="editMode" (click)="removeComment(commentFormIndex)">
          <mat-icon aria-label="Button um einen Kommentar zu löschen">delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="space-around-div">
      <button mat-mini-fab *ngIf="editMode" (click)="addComment('')">
        <mat-icon aria-label="Button um einen Kommentar hinzu zu fügen">add</mat-icon>
      </button>
      <button mat-mini-fab (click)="switchEditMode()">
        <mat-icon aria-label="Button um in den Bearbeitungsmodus zu wechseln">edit</mat-icon>
      </button>
    </div>
  </div>
</mat-expansion-panel>


